<!-- AOS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="" crossorigin="anonymous"></script>

<!-- Snipcart -->
<script src="https://cdn.snipcart.com/themes/{{ .Site.Params.snipcart_version }}/default/snipcart.js"></script>

<!-- Fuse.js for client search -->
<script src="https://cdn.jsdelivr.net/npm/fuse.js@6.6.2/dist/fuse.min.js"></script>

<!-- Main site JS -->
<script src="/js/main.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', function(){
    AOS.init({ duration: 700, once: true });
  });
</script>
